.hidden{
    display: none
}

header{
    margin-bottom: 24px;
}
 
header, footer {
    width: 100%;
    height: 100px;
    background-color: #444;
}

header a, footer {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255, 217, 0, 0.95);
}



header nav {
    padding: 12px 24px;
    vertical-align: bottom;
    text-align: right;
}

header nav>a {
    padding: 12px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

