.vote-indicator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    height: 80px;
    margin: 24px 24px 0;
    border-radius: 16px;
}

.indicator span {
    margin-right: 12px;
}

.like {
    background-color: rgba(75, 192, 8, 0.864);
}
.dislike {
    background-color: rgba(255, 0, 0, 0.814);
}